<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>state</th>
        <th>country</th>
        <th>lon</th>
        <th>lat</th>
    </tr>
    <tr th:each="city : ${list}">
        <td th:text="${city.key}"></td>
        <td th:text="${city.value.name}"></td>
        <td th:text="${city.value.state}"></td>
        <td th:text="${city.value.country}"></td>
        <td th:text="${city.value.coord.lon}"></td>
        <td th:text="${city.value.coord.lat}"></td>
    </tr>
</table>

</body>
</html>